h1{
    line-height: 0;
}


.sell h1 {
    width: 613px;
    height: 315px;
    margin-left: 47px;
    margin-top: 123px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 71px;
    color: #272D4E;

}



.img-sell {
    width: 700px;
    margin-top: 71px;

}

.sell p {
    margin-left: 47px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #94A2B3;

}

.sell button {
    width: 201px;
    height: 54px;
    margin-left: 47px;
    background: #7854F7;
    border-radius: 45px;
    border: none;
}
