h1{
    line-height: 0;
}


.sell h1 {
    position: absolute;
    width: 613px;
    height: 315px;
    margin-top: 123px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 71px;
    color: #272D4E;

}



.img-sell {
    width: 770px;
    margin-top: 71px;

}

