.navabar .navabar-logo {
    width: 126px;
    height: 25px;
    margin-left: 41px;
    margin-top: 33px;

}

.navbar {
    color: #131313;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
